.button {
  @apply inline-flex items-center justify-center px-4 py-2 font-semibold text-base tracking-tight rounded-lg cursor-pointer;
}

.input {
  @apply px-4 py-2 w-full text-base sm:text-sm bg-gray-100 rounded-xl;
}